version: "3"

services:
    c-php:
        image: ge0rg1ev/46156r-php-nginx
        ports:
            - 80:80
        networks:
            - c-network
        depends_on:
            - c-mysql
        volumes:
            - /home/ec2-user/prod/UnibitBachelors/src/:/var/www/html/

    c-mysql:
        image: ge0rg1ev/46156r-sql
        volumes:
            - /home/ec2-user/prod/UnibitBachelors/src/assets/sql/init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
            - c-network
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: "expansio"
        ports:
            - 3306:3306

networks:
    c-network:
