@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 10px;
    }

    50% {
        bottom: 30px;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
}

.navbar {
    padding: 30px 100px 30px 100px;
    background: transparent;
    z-index: 99;
    margin-bottom: 0;
    position: absolute;
    width: 99%;
}

.nav-link {
    color: white !important;
    font-size: 30px;
    float: right;
}

.navbar-dark {
    background: transparent;
}

.navbar-brand {
    font-size: 60px;
    color: white !important;
}

.jumbotron {
    background: transparent;
}

.background {
    position: relative;
    background: url("../images/banner.jpg") center;
    z-index: 0;
    min-height: 100%;
    background-size: cover;
}

.background-internal {
    position: relative;
    background: url("../images/banner.jpg") center;
    z-index: 0;
    min-height: 20%;
    background-size: cover;
}

.pushdown {
    margin-top: 300px
}

.left-text-cont h1,
.left-text-cont p {
    color: white;
}

.left-text-cont h1 {
    font-size: 80px;
    font-weight: 600;
}

.left-text-cont p {
    font-size: 40px;
}

.navbar {
    z-index: 2;
}

.navbar .nav-item {
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    border-radius: 10px 10px 0 0;
}

.navbar .nav-item::after {
    transition: all 0.3s ease-in-out;
    content: "";
    background: #418eec;
    position: absolute;
    height: 4px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 0px;
}

.navbar .nav-item:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.navbar .nav-item:hover::after {
    width: 100%;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 26px;
}

.heading-holder {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}

.heading-holder h1 {
    font-size: 45px;
    color: #fff;
}

.see-more {
    text-align: center;
    position: absolute;
    text-align: center;
    bottom: 30px;
    animation: MoveUpDown 1s linear infinite;
}

.see-more:hover {
    animation-play-state: paused;
}

.see-more a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.see-more a i {
    font-size: 24px;
    display: block;
    color: #fff;
}

.scrollToTopBtn {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: white;
    background: linear-gradient(204deg, rgba(2, 0, 36, 1) 0%, rgba(28, 0, 248, 1) 0%, rgba(184, 43, 231, 1) 0%, rgba(0, 215, 255, 1) 84%, rgba(0, 142, 255, 1) 100%);
    z-index: 999;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    color: white;
}

.scrollToTopBtn.active {
    opacity: 1;
}

.scrollToTopBtn:hover {
    color: rgb(140, 240, 255);
}

.section-container {
    max-width: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 110px;
    min-height: 100%;
    text-align: center;

}

.about-container .img-container {
    padding: 0 0;

}

.about-container .img-container .oval-img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.about-container .img-container .oval-img.wider {
    width: 350px;
}

.about-container .about-text {
    text-align: justify;

    color: black;
}

#small-img {
    margin-top: 150px;
    width: 180px;
    height: 255px;
}

.title-holder {
    margin-bottom: 50px;
}

.title-holder .title {
    text-align: center;
    padding: 0 100px;
    font-size: 40px;
}

.title-holder .title.white {
    color: white;
}

.categories-container {
    background-color: #A9C9FF;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);

}

.category-box {
    margin-top: 60px;

}

.category-box a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
    display: block;
    transition: transform .2s;
}

.category-box a:hover {
    transform: scale(1.2);
}

.category-box .img-holder {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.content-holder {
    margin-top: 160px;
}

.caption {
    color: black;
    display: block;
    font-size: 24px;
}

.tutors-container {
    color: black;
}

.tutor-box {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0;
    transition: box-shadow 1s;
    border-radius: 15px;
}

.tutor-box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.tutor-box a {
    text-decoration: none;
    display: block;
    color: black;
    transition: transform .2s;
}

.tutor-box:hover a {
    transform: scale(1.1);
}

.tutor-box p {
    text-align: justify;
    margin-top: 15px;
    padding: 0 15px 0 15px;
}

.tutor-box span {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.tutor-box img {
    text-align: justify;
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.tutors-holder {
    margin-top: 100px;
}

.tutor-box .img-holder {
    height: 250px;
}

.contacts-container {
    background-image: linear-gradient(to left, #fc5c7d, #6a82fb);
    color: white;
    position: relative;
}

.categories-holder {
    padding-top: 60px;
}

.location-data h4 {
    font-size: 30px;
    margin-top: 25px;
}

.location-data p {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}

.mini-row * {
    text-align: center;
}

.location-data iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border-radius: 15px;
}

.trademark {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

/* Internal pages */

.internal-head {
    margin-left: 20px;
    color: white;
    text-align: center;
}

.internal-head h1 {
    font-size: 60px;
    font-weight: 400;
}

.internal-head p {
    font-size: 25px;
}

.internal-logo {
    width: 150px;
    height: 150px;
}

.logo-holder {
    text-align: center;
}

/* Video page */

.video-container,
.tutor-container {
    padding-top: 100px;
}

.video-holder {
    text-align: center;
    position: relative;
    height: 520px;
    margin-bottom: 100px;
}

.video-js {
    width: 100%;
    height: 200px;
}

.video-holder h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.video-holder p {
    text-align: justify;
}

.video-holder .tutor-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.tutor-name a {
    font-style: italic;
}

/* Tutor page */

.tutor-container {
    padding-bottom: 100px;
}

.tutor-container .avatar-holder {
    text-align: center;
}

.tutor-container .avatar-holder img {
    width: 75%;
    height: 75%;
}

.tutor-container .info-holder table td.to-right {
    font-size: 25px;
    font-weight: 600;
    float: right;
}

.tutor-container .info-holder table td {
    font-size: 24px;
    text-align: justify;
    padding: 0 10px;
}

/* Responsive */
@media only screen and (max-width: 768px) {

    .navbar-toggler {
        display: block;
        width: 100%;
    }

    .video-holder .tutor-name {
        position: unset;
    }

}