@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 10px;
    }

    50% {
        bottom: 30px;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
}

.navbar {
    padding: 30px 100px 30px 100px;
    background: transparent;
    z-index: 99;
    margin-bottom: 0;
    position: absolute;
    width: 99%;
}



.nav-link {
    color: white !important;
    font-size: 30px;
    float: right;
}

.navbar-dark {
    background: transparent;
}

.navbar-brand {
    font-size: 60px;
    color: white !important;
}

.jumbotron {
    background: transparent;
}

.background {
    position: relative;
    background: url("../images/banner.jpg") center;
    z-index: 0;
    min-height: 100%;
    background-size: cover;
}


.pushdown {
    margin-top: 300px
}

.left-text-cont h1,
.left-text-cont p {
    color: white;
}

.left-text-cont h1 {
    font-size: 80px;
    font-weight: 600;
}

.left-text-cont p {
    font-size: 40px;
}

.navbar {
    z-index: 2;
}

.navbar .nav-item {
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    border-radius: 10px 10px 0 0;
}

.navbar .nav-item::after {
    transition: all 0.3s ease-in-out;
    content: "";
    background: #418eec;
    position: absolute;
    height: 4px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 0px;
}

.navbar .nav-item:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.navbar .nav-item:hover::after {
    width: 100%;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 26px;
}

.heading-holder {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
}

.heading-holder h1 {
    font-size: 45px;
    color: #fff;
}

.see-more {
    text-align: center;
    position: absolute;
    text-align: center;
    bottom: 30px;
    animation: MoveUpDown 1s linear infinite;
}

.see-more:hover {
    animation-play-state: paused;
}

.see-more a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.see-more a i {
    font-size: 24px;
    display: block;
    color: #fff;
}



.to-top {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: white;
    background: linear-gradient(204deg, rgba(2, 0, 36, 1) 0%, rgba(28, 0, 248, 1) 0%, rgba(184, 43, 231, 1) 0%, rgba(0, 215, 255, 1) 84%, rgba(0, 142, 255, 1) 100%);
    z-index: 999;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    transition: 0.4s ease-in-out;
    color: white;
}

.to-top:hover {
    color: white;
}








.about-container,
.categories-container {
    max-width: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 110px;
    min-height: 100%;
    text-align: center;

}

.about-container .img-container {
    padding: 0 0;
    margin-top: 50px;
}

.about-container .img-container .oval-img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
}

.about-container .img-container .oval-img.wider {
    width: 350px;
}

.about-container .about-text {
    text-align: justify;
    padding: 0 100px;
    color: black;
}


#small-img {
    margin-top: 150px;
    width: 180px;
    height: 255px;
}

.title-holder {
    margin-bottom: 50px;
}

.title-holder .title {
    text-align: center;
    padding: 0 100px;
}

.title-holder .title.white {
    color: white;
}

.categories-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(204deg, rgba(2, 0, 36, 1) 0%, rgba(28, 0, 248, 1) 0%, rgba(184, 43, 231, 1) 0%, rgba(0, 215, 255, 1) 84%, rgba(0, 142, 255, 1) 100%);
}

.category-box {
    margin-top: 60px;

}


.category-box a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
    display: block;
    transition: transform .2s;
}

.category-box a:hover {
    transform: scale(1.2);
}



.category-box .img-holder {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

}


.categories-holder {
    padding-top: 60px;
}

.hidden {
    color: black;
    display: block;
    font-size: 24px;
    height: 0;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.oval-img {
    cursor: pointer;
}

.oval-img:hover~.hidden {
    display: block;
    opacity: 1;
}